body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* User styles */

.carousel-caption {
  top: 45%;
  bottom: auto;
}

.carousel-item img {
  opacity: 0.8;
  height: 80vh;
}

.registrationForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 3% 20px;
}

.loginForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 9% 20px;
  padding-top: 3%;
}

.createOrderForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 3% 20px;
}

.comment{
  color: red;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}

.footerbg {
  background-color: #D3D3D3;
}

.headerbg {
  background-color: #D3D3D3;
}

.headerlogo {
  margin-right: 750px;
  margin-left: 110px;
}

/* .headerNav{
  float: right;
} */

footer ul li .text-light {
  text-decoration-line: none;
  cursor: unset;
}

.profile {
  padding: 4% 0 12% 0;
  max-width: 1151px;
  width: 100%;
  margin: 0 auto;
}

.orderForm {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 5% 0 10% 0;
}

table {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-box-shadow: inset -5px -5px 5px #888;
  -webkit-box-shadow: inset -5px -5px 5px #888;
  box-shadow: inset -5px -5px 5px #888;
}

.card {
  max-width: 300px;
  width: 100%;
}

.errorPage {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
  padding: 13% 0;
}



@media screen and (max-width: 1240px){
  .carousel-item img{
    height: 70vh;
  }
}
@media screen and (max-width: 950px){
  .carousel-item img{
    height: 65vh;
  }
}
@media screen and (max-width: 767px){
  .carousel-item img{
    height: 50vh;
  }

  .carousel-caption {
    top: 30%;
    bottom: auto;
  }
}
@media screen and (max-width: 550px){
  .carousel-item img{
    height: 45vh;
  }

  .carousel-caption {
    top: 25%;
    bottom: auto;
  }

  .carousel-caption h1{
    font-size: 35px;
  }
}
@media screen and (max-width: 430px){
  .carousel-item img{
    height: 42vh;
  }

  .carousel-caption {
    top: 10%;
    bottom: auto;
  }

  .carousel-caption h1{
    font-size: 30px;
  }
}
@media screen and (max-width: 375px){
  .carousel-item img{
    height: 38vh;
  }

  .carousel-caption {
    top: 10%;
    bottom: auto;
  }

  .carousel-caption h1{
    font-size: 25px;
  }
}